<!DOCTYPE html>
<html lang="de-DE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="stil" href="Style/Style.css">
    <link rel="stylesheet" href="Style/Tulpas.css">
    <link rel="icon" href="img/TulpaIcon.png" type="image/png">
    <title>TulpaKing® - Spiel</title>
</head>

<body>
    <div class="background-lines">
        <div class="lineRed line-1"></div>
        <div class="lineGold line-2"></div>
        <div class="lineRed line-3"></div>
        <div class="lineGold line-4"></div>
        <div class="lineRed line-5"></div>
        <div class="lineGold line-6"></div>
        <div class="lineRed line-7"></div>
        <div class="lineGold line-8"></div>
        <div class="lineRed line-9"></div>
        <div class="lineGold line-10"></div>
    </div>
    <img style="position: relative; left: 5px;" src="img/TulpaTopLogo.png" height="300px" alt="Tulpa-King-Logo">
    <div class="Playground">
        <div id="GameOver" class="hidethis">Du bist ohnmächtig!<br /><br /><span id="Countdown"></span></div>
        <div id="movement_game" class="hidethis">
            <div class="map MAP">
                <div class="Trainer"></div>
                <div class="TrainerText"></div>
                <div id="Haendler" class="hidethis"></div>
                <div id="Professor" class="hidethis"><button id="ProfessorButton" onclick="Professor001monolog()"> </button></div>
                <button id="tuerSelfIn" title="Mein Haus" class="Inside MeinHaus_B hidethis"
                    onclick="meinEingang()"></button>
                <button id="tuerSelfOut" title="MeinStadt" class="Outside MeinHausOut_B hidethis"
                    onclick="meinAusgang()"></button>
                <button id="tuerTroyIn" title="Troys Haus" class="Inside TroysHaus_B hidethis"
                    onclick="troysEingang()"></button>
                <button id="tuerTroyOut" title="TroyStadt" class="Outside TroysHausOut_B hidethis"
                    onclick="troysAusgang()"></button>
                <button id="tuerShopIn" title="Shop Haus" class="Inside ShopHaus_B hidethis"
                    onclick="shopEingang()"></button>
                <button id="tuerShopOut" title="ShopStadt" class="Outside ShopHausOut_B hidethis"
                    onclick="shopAusgang()"></button>
                <button id="ShopHandel" title="Händler" class="Handler ShopHandel_B hidethis"
                    onclick="shopHandel('Shop_1')"></button>
                <button id="TulpaPC-Button" title="TulpaComputer" class="Tulpa-PC hidethis"
                    onclick="TulpaPC();Click()"></button>
            </div>
            <div id="audio-controls">
                <label for="volumeSlider"></label>
                <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="0.1">
                <button id="muteBtn">🔊</button>
            </div>
            <div id="user" class="Player down"></div>
            <button class="WASD" id="W_Click" onmousedown="Click_W_down()" onmouseup="Click_W_up()"
                ontouchstart="Click_W_down()" ontouchend="Click_W_up()">⬆️</button>

            <button class="WASD" id="A_Click" onmousedown="Click_A_down()" onmouseup="Click_A_up()"
                ontouchstart="Click_A_down()" ontouchend="Click_A_up()">⬅️</button>

            <button class="WASD" id="S_Click" onmousedown="Click_S_down()" onmouseup="Click_S_up()"
                ontouchstart="Click_S_down()" ontouchend="Click_S_up()">⬇️</button>

            <button class="WASD" id="D_Click" onmousedown="Click_D_down()" onmouseup="Click_D_up()"
                ontouchstart="Click_D_down()" ontouchend="Click_D_up()">➡️</button>
            <button id="Menu" onclick="MenuList();Click()">≡</button>
            <div id="MenuList" class="hidethis">
                <button class="MenuList" onclick="Tulpa_Dex();Click()">Tulpa-Dex<sup>®</sup></button>
                <button class="MenuList" onclick="Tulpas_List();Click()">Tulpa's</button>
                <button class="MenuList" onclick="Info();Click()">Info</button>
                <button id="karte" class="MenuList" onclick="Karte();Click()">Karte</button>
                <button class="MenuList" onclick="Items();Click()">Item's</button>
                <button class="MenuList" onclick="Click();Cheat()">Cheat's</button>
                <button class="MenuList" onclick="Click();SaveGame()">Spiel speichern</button>
                <button class="MenuList" onclick="Exit_Game();Click()">Spiel verlassen</button>
            </div>
            <div id="TulpaPC" class="hidethis">
                <div>TulpaPC</div>
                <div class="TulpaPC_01"></div>
                <div id="TulpaPC_List"></div>
                <button class="Exit_Button" onclick="close_Tulpa_PC();Click()">Exit</button>
            </div>
            <div id="Tulpa_Dex" class="hidethis">
                <div>Tulpa-Dex<sup>®</sup></div>
                <div id="Tulpa_Dex_List"></div>
                <button class="Exit_Button" onclick="close_Tulpa_Dex();Click()">Exit</button>
            </div>
            <div id="Tulpas" class="hidethis">
                <div>Tulpa's</div><br>
                <div id="Tulpa_List"></div>
                <button class="Exit_Button" onclick="close_Tulpas();Click()">Exit</button>
            </div>
            <div id="Info" class="hidethis">
                <div style="text-align:center;">Info</div><br>
                <div id="Info_List"></div>
                <button class="Exit_Button" onclick="close_Info();Click()">Exit</button>
            </div>
            <div id="Karte" class="hidethis">
                <div>Karte</div><br>
                <div id="Karte_info">
                    <div id="standort-marker">💠</div>
                </div>

                <button class="Exit_Button" onclick="close_Karte();Click()">Exit</button>
            </div>
            <div id="Items" class="hidethis">
                <div>Item's</div><br>
                <div id="Item_List"></div>
                <button class="Exit_Button" onclick="close_Items();Click()">Exit</button>
            </div>

            <div id="shopMenu" class="hidethis">
                <h2>Shop Menü</h2>
                <button class="menu-button" onclick="buyItems();Click()">Kaufen</button>
                <button class="menu-button" onclick="sellItems();Click()">Verkaufen</button>
                <button class="menu-button" onclick="healTulpas();Click()">Tulpas Heilen</button>
                <button class="menu-button" onclick="closeShop();Click()">Verlassen</button>
            </div>
            <div id="ShopBuyList" class="hidethis"></div>
            <div id="ShopSellList" class="hidethis"></div>

            <div class="TrainerDialogBox hidethis"></div>
        </div>
        <div id="battle_game" class="hidethis">
            <div id="opponent">
                <div id="Name-opp"></div>
                <div id="LP-opp">
                    <div id="fill-opp"></div>
                </div>
                <div id="Tulpa-opp"></div>
            </div>
            <div id="self">
                <div id="Name-self"></div>
                <div id="LP-self">
                    <div id="fill-self"></div>
                </div>
                <div id="Tulpa-self"></div>
            </div>
            <div id="battle_game_menu" class="hidethis">
                <div id="change_tulpa" class="hidethis"></div>
                <div id="use_item" class="hidethis"></div>
            </div>
            <div id="battle-info">
                <div id="battle_text"></div>
                <div id="battle_box">
                    <div id="battle_menu" class="hidethis">
                        <button class="battle_Button" id="fight" onclick="fight()">Kämpfen</button>
                        <button class="battle_Button" id="use_Items" onclick="useItem()">Item's</button>
                        <button class="battle_Button" id="change_Tulpa" onclick="changeTulpa()">Tulpa's</button>
                        <button class="battle_Button" id="escape" onclick="escape()">Flucht</button>
                    </div>
                    <div id="attack_menu" class="hidethis">
                        <button class="battle_Button" id="Attack_1" onclick="self_attack(this.innerHTML)">.</button>
                        <button class="battle_Button" id="Attack_2" onclick="self_attack(this.innerHTML)">.</button>
                        <button class="battle_Button" id="Attack_3" onclick="self_attack(this.innerHTML)">.</button>
                        <button class="battle_Button" id="Attack_4" onclick="self_attack(this.innerHTML)">.</button>
                    </div>
                </div>
            </div>
            <div id="HohesGras" class="HohesGras" style="left:0%;"></div>
        </div>
        <div id="customModalOverlay" class="custom-modal-overlay">
            <div class="custom-modal-content">
                <h3 id="customModalTitle" class="custom-modal-title"></h3>
                <p id="customModalMessage" class="custom-modal-message"></p>
                <input type="text" id="customModalInput" class="custom-modal-input hidden">
                <div class="custom-modal-buttons">
                    <button id="customModalOkButton" class="custom-modal-button ok">OK</button>
                    <button id="customModalCancelButton" class="custom-modal-button cancel hidden">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
    <a id="ToInfo" onclick="OpenInfo()">TulpaKing<sup>&reg;</sup> Info & Impressum</a>
    <div id="ColorSettings">
        <button id="toggleColorSettings" type="button" onclick='document.getElementById("ColorList").classList.toggle("hidethis");'>⚙️</button>
        <div id="ColorList" class="hidethis">
            <button id="Darkblue" type="button" onclick='Player.color="Darkblue";setcolor();'>Dunkelblau</button>
            <button id="Darkgreen" type="button" onclick='Player.color="Darkgreen";setcolor();'>Dunkelgrün</button>
            <button id="Darkred" type="button" onclick='Player.color="Darkred";setcolor();'>Dunkelrot</button>
            <button id="Darkviolett" type="button" onclick='Player.color="Darkviolett";setcolor();'>Dunkelviolett</button>
            <button id="Lightblue" type="button" onclick='Player.color="Lightblue";setcolor();'>Hellblau</button>
            <button id="Lightgreen" type="button" onclick='Player.color="Lightgreen";setcolor();'>Hellgrün</button>
            <button id="Lightred" type="button" onclick='Player.color="Lightred";setcolor();'>Hellrot</button>
            <button id="Lightviolett" type="button" onclick='Player.color="Lightviolett";setcolor();'>Hellviolett</button>
        </div>
    </div>

    <audio id="attack-sound" src="audio/Attack-001.mp3"></audio>
    <audio id="bg01-sound" src="audio/background-001.mp3" loop></audio>
    <audio id="bg02-sound" src="audio/background-002.mp3" loop></audio>
    <audio id="bg03-sound" src="audio/background-003.mp3" loop></audio>
    <audio id="bgr01-sound" src="audio/background-retro-001.mp3" loop></audio>
    <audio id="bgr02-sound" src="audio/background-retro-002.mp3" loop></audio>
    <audio id="lvup-sound" src="audio/Level-up.mp3"></audio>
    <audio id="win-sound" src="audio/Win-sound.mp3"></audio>
    <audio id="click-sound" src="audio/Click-sound.mp3"></audio>
    <audio id="alarm-sound" src="audio/8bit-alarm.mp3"></audio>
    <audio id="door-sound" src="audio/door-opening.mp3"></audio>

    <script src="Skript/Shop.js"></script>
    <script src="Skript/TrainerList.js"></script>
    <script src="Skript/Talks.js"></script>
    <script src="Skript/attack.js"></script>
    <script src="Skript/Mapzones.js"></script>
    <script src="Skript/Tulpa-List.js"></script>
    <script src="Skript/Item-List.js"></script>
    <script src="Skript/battle.js"></script>
    <script src="Skript/Exit_Game.js"></script>
    <script src="Skript/Menu.js"></script>
    <script src="Skript/movement.js"></script>
    <script src="Skript/Customize.js"></script>
    <script src="Skript/characterList.js"></script>
    <script src="Skript/Tulpa-PC.js"></script>
    <script src="Skript/ColorSettings.js"></script>
    <script src="Skript/Start.js"></script>
    <script>
        function OpenInfo() {
            const features = 'width=500,height=800,scrollbars=yes,resizable=yes';
            window.open('Info.html', 'TulpaKing® - Info & Hilfe', features);
        }
        const GAME_SERVER_IP = '<%= gameServerIP %>';
    </script>
</body>

</html>