<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/impressum.css">
    <link rel="icon" href="img/TulpaIcon.png" type="image/png">
    <title>TulpaKing® - Impressum & Quellen</title>
</head>

<body>
    <div class="background-lines">
        <div class="lineRed line-1"></div>
        <div class="lineGold line-2"></div>
        <div class="lineRed line-3"></div>
        <div class="lineGold line-4"></div>
        <div class="lineRed line-5"></div>
        <div class="lineGold line-6"></div>
        <div class="lineRed line-7"></div>
        <div class="lineGold line-8"></div>
        <div class="lineRed line-9"></div>
        <div class="lineGold line-10"></div>
    </div>
    <img id="TulpaIcon" src="img/TulpaIcon.png" height="auto" width="100%" alt="TulpaKing-Logo">
    <div class="impressum">
        <h1>TulpaKing®</h1>
        <h2>Idee & Inspiration:</h2>
        <p>
            Die Inspiration erfolgte im Zuge eines Auftrages durch einen Dozenten der Techstarter GmbH, mittlerweile
            <a title="zu syntax-institut.de" href="https://www.syntax-institut.de/">Syntax Institut GmbH</a>,
            zum Zweck der Ausbildung und Vorbereitung, beispielsweise auf die LPI Web Development Essentials
            Prüfung.
        </p>
        <p>
            Auftrag war es, eine Webseite nach Belieben zu erstellen, wobei das Gelernte natürlich zur Anwendung kommen
            sollte.
        </p>
        <p>
            Wir als Entwickler beschränkten uns beim Spiel selbst nur auf HTML5, CSS3 und JavaScript. Damit sind alle
            Funktionen gemeint, die im Frontend vom Nutzer durch das Spielen ausgelöst werden, wie z.B. den Charakter
            bewegen oder gegen ein Tulpa kämpfen. Funktionen außerhalb des Spiels, beispielsweise die Übertragung an
            eine Datenbank, können auch von sog. Frameworks stammen oder ähnlichem.
        </p>
        <h3>Quelle:</h3>
        <a href="https://de.wikipedia.org/wiki/Pok%C3%A9mon_(Computerspielreihe)"
            title="zu Wikipedia - Pokémon (Computerspielreihe)">Pokémon</a>
        <p>
            Natürlich nicht das heutige Pokémon, welches man auf jeder Nintendo® Switch spielen kann. Sondern die gute,
            alte Version, welche man auf einem
            <a title="zu Wikipedia - Gameboy® Color" href="https://de.wikipedia.org/wiki/Game_Boy">Game Boy</a>
            spielen kann.
        </p>
        <h3>weitere Ideen:</h3>
        <p>
            Reitz, Alexander L.<br>
            Bosslar, Carlos<br>
            Goldbach, Daniel<br>
            Schröder, Philipp<br>
            Hoffmann, Johnny<br>
        </p>
        <h2>Hauptentwickler:</h2>
        <p>
            Goldbach, Daniel<br>
            Hoffmann, Johnny
        </p>
        <h2>Nebenentwickler:</h2>
        <p>
            Reitz, Alexander L.<br>
            Schröder, Philipp<br>
            Bosslar, Carlos<br>
            Darwiche, Jusef<br>
            Singh, Sarwan
        </p>
        <h2>Steuerung, Bewegung & Animation</h2>
        <p>
            Goldbach, Daniel<br>
            Hoffmann, Johnny
        </p>
        <h2>Tulpa's & Item's</h2>
        <p>
            Schröder, Philipp<br>
            Reitz, Alexander L.
        </p>
        <h2>Systeme für Handel</h2>
        <p>
            Singh, Sarwan<br>
            Hoffmann, Johnny
        </p>
        <h2>Systeme für Dialoge</h2>
        <p>
            Darwiche, Jusef<br>
            Hoffmann, Johnny
        </p>
        <h2>Umgebungseinrichtung & - verwaltung</h2>
        <p>
            Goldbach, Daniel<br>
            Hoffmann, Johnny
        </p>
        <h2>vereinzelte Spielfunktionen</h2>
        <p>
            Goldbach, Daniel<br>
            Hoffmann, Johnny<br>
            Reitz, Alexander L.<br>
            Schröder, Philipp<br>
            Bosslar, Carlos<br>
            Darwiche, Jusef<br>
            Singh, Sarwan
        </p>
        <h2>Grafik & Design</h2>
        <p>
            Reitz, Alexander L.<br>
            Goldbach, Daniel<br>
            Hoffmann, Johnny
        </p>
        <h2>Programme:</h2>
        <p>
            <a href="https://store.steampowered.com/app/431730/Aseprite/">Aseprite über Steam</a><br>
            <a href="https://www.mapeditor.org/">Tiled über mapeditor.org</a><br>
            <a href="https://www.gimp.org/">GIMP GNU Image Manipulation Programm</a><br>
            <a href="https://www.google.com/intl/de_de/chrome/">Google Chrome Browser</a> <i>Browser Konsole
                (F12)</i><br>
            <a href="https://code.visualstudio.com/">Visual Studio Code</a><br>
        </p>
        <h2>Dienste:</h2>
        <p>
            <a href="https://azure.microsoft.com/de-de">Microsoft Azure: Cloud Computing-Dienste (Azure VM)</a><br>
            <a href="https://aws.amazon.com/de/">AWS - Amazon Web Services (EC2-Instance)</a><br>
            <a href="http://www.mongodb.com/de/">MongoDB Atlas (Datenbank)</a><br>
            <a href="http://www.sendgrid.com/">SendGrid (nodemailer Email-Dienst)</a><br>
            <a href="http://www.gmx.net/">GMX.net (kostenloser Email-Dienst)</a><br>
            <a href="http://www.github.com/">GitHub (Repository)</a>
        </p>
        <h2>Musik & Soundeffekte</h2>
        <p>
            Hoffmann, Johnny
        </p>
        <h4>Quellen:</h4>
        <a href="https://pixabay.com/de/sound-effects/">Pixabay.com - Soundeffekte</a>
        <h2>Login HTML</h2>
        <p>
            Goldbach, Daniel<br>
            Hoffmann, Johnny
        </p>
        <h2>Info & Hilfe HTML</h2>
        <p>
            Darwiche, Jusef<br>
            Hoffmann, Johnny
        </p>
        <h2>Kontakt & Support</h2>
        <a href="mailto:goldimental@gmx.de">
            <img src="img/mail-icon.svg" height="32px" width="32px" alt="Mail-Icon">Support-Mail: <em>GoldiMental@gmx.de</em>
        </a><br>
        <a href="https://discord.gg/nnxdhPxs">
            <img src="img/icon-discord-light.svg" height="32px" width="32px" alt="Discord-Icon">GoldiMental - Community Discord Server
        </a><br>
        <a href="https://github.com/GoldiMental/TulpaKing">
            <img src="img/icon-github-light.svg" height="32px" width="32px" alt="GitHub-Icon">GitHub-Repository GoldiMental/TulpaKing
        </a><br>

        <a href="mailto:djohnnyhoffmann@gmail.com">
            <img src="img/mail-icon.svg" height="32px" width="32px"  alt="Mail-Icon">Hoffmann, Johnny: <em>DJohnnyHoffmann@gmail.com</em>
        </a><br>
    </div>

    <a id="ToLogin" class="ToLogin" href="<%= gameServerIP %>" target="_self">Zum Login</a>
    <script>
        window.onload = function () {
            const ToLoginElement = document.getElementById("ToLogin");
            ToLoginElement.classList.add("ToLoginHover");
            setTimeout(function () {
                ToLoginElement.classList.remove("ToLoginHover");
            }, 3000);
        };
    </script>
</body>

</html>