<!DOCTYPE html>
<html lang="de-DE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/TulpaIcon.png" type="image/png">
    <link rel="stylesheet" href="Style/404.css">
    <title>TulpaKing - Offline</title>
</head>

<body>
    <!--Background-Section-Beginning-->
    <div class="background-lines">
        <div class="lineRed line-1"></div>
        <div class="lineGold line-2"></div>
        <div class="lineRed line-3"></div>
        <div class="lineGold line-4"></div>
        <div class="lineRed line-5"></div>
        <div class="lineGold line-6"></div>
        <div class="lineRed line-7"></div>
        <div class="lineGold line-8"></div>
        <div class="lineRed line-9"></div>
        <div class="lineGold line-10"></div>
    </div>
    <img id="TulpaIcon" src="img/TulpaIcon.png" alt="TulpaKing-Logo">
    <!--Background-Section-Ending-->
    <div id="main">
        <h1>TulpaKing ist derzeit Offline.</h1>
        <a href="http://20.79.178.244:3000/">Zurück zur Anmeldung</a>
    </div>

</body>

</html>