.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.hidethis {
    display: none !important;
}

.custom-modal-overlay.visible {
    visibility: visible;
    opacity: 1;
}

.custom-modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(192, 192, 192);
}

.custom-modal-message {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(192, 192, 192);
}

.custom-modal-input:focus {
    border-color: rgb(255, 215, 0);
    box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.5);
}

.custom-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.custom-modal-button.ok {
    border: 3px outset rgb(192, 192, 192);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.custom-modal-button.cancel {
    border: 3px outset rgb(192, 192, 192);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.custom-modal-button:hover {
    border: 3px outset rgb(255, 215, 0);
    box-shadow: 0 0 10px rgb(255, 215, 0);
    background-color: rgb(255, 215, 0);
}

.custom-modal-button:active {
    border: 3px inset rgb(255, 215, 0);
}