.custom-modal-overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.hidethis{
    display: none !important;
}

.custom-modal-overlay.visible {
    visibility: visible;
    opacity: 1;
}

.custom-modal-content {
    background: radial-gradient(rgb(0,0,50),rgb(0,0,25));
    color:silver;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    width: 90%;
    text-align: center;
    border: 5px ridge azure;
}

.custom-modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: silver;
}

.custom-modal-message {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: silver;
}

.custom-modal-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 3px ridge silver;
    border-radius: 6px;
    background:radial-gradient(rgb(0,0,50),rgb(0,0,25));
    color: silver;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease;
}

.custom-modal-input:focus {
    border-color: gold;
    box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.5);
}

.custom-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.custom-modal-button {
    background: radial-gradient(rgb(0,0,50),rgb(0,0,25));
    color: silver;
    height: 27px;
    width: 100px;
}

.custom-modal-button.ok {
    border: 3px outset silver;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.custom-modal-button.cancel {
    border: 3px outset silver;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.custom-modal-button:hover{
    border: 3px outset gold;
    box-shadow:0 0 10px gold;
    background-color: gold;
}

.custom-modal-button:active{
    border: 3px inset gold;
}