body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#1e1e3f, #121223);
  font-family: 'Press Start 2P', monospace;
  color: #f0f0f0;
  line-height: 1.6;
  font-size: 12px;
}

.container {
    display: flex;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #f2c94c;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
}

    .sidebar {
      width: 250px;
      padding: 20px;
      background-color: black;
      border-right: 2px solid #444;
      height: 100vh;
      position: sticky;
      top: 0;
      flex-shrink: 0;
      margin-left: -30px;
    }
    .sidebar h2 {
      color: gold;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .sidebar a {
      display: block;
      color: white;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .sidebar a:hover {
      text-decoration: underline;
    }

    h1, h2, h3 {
  font-weight: normal;
  text-align: center;
  margin: 20px 0;
}

h1 {
  font-size: 24px;
  color: #f2c94c;
}

h2 {
  font-size: 16px;
  color: #ff4d4d;
}

h3 {
  font-size: 14px;
  color: #66ffe0;
}

li{
      margin-bottom: 10px;
}

.content {
  padding: 40px;
  flex-grow: 1;
}