body {
    background: linear-gradient(rgb(160, 160, 160), rgb(125, 125, 125));
    color: rgb(50, 50, 50);
}

a {
    color: rgb(0, 0, 0);
    background-color: rgb(192, 192, 192);
    border: 3px outset rgb(192, 192, 192);
}

a:hover {
    border: 3px outset rgb(0, 250, 250);
    box-shadow: 0px 0px 15px rgb(0, 250, 250);
    background-color: rgb(0, 250, 250);
    cursor: pointer;
}

a:active {
    border: 3px inset rgb(0, 250, 250);
}

button:not(:disabled) {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    color: rgb(50, 50, 50);
    border: 0.15em outset rgb(150, 150, 150);
}

button:disabled {
    border: none;
    cursor: default;
}

button:not(:disabled):hover {
    border-color: rgb(0, 250, 250);
    box-shadow: 0 0 0.5em rgb(0, 250, 250);
    opacity: 1;
    cursor: pointer;
}

button:not(:disabled):active {
    border: 0.15em inset rgb(0, 250, 250);
}

input {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    color: rgb(50, 50, 50);
    border: 0.15em outset rgb(150, 150, 150);
}

input:focus {
    border-color: rgb(0, 250, 250);
    box-shadow: 0 0 0.5em rgb(0, 250, 250);
}

.lineRed {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 255, 255), rgba(0, 0, 0, 0));
}

.lineGold {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 255, 0), rgba(0, 0, 0, 0));
}

#battle_game {
    background-image: linear-gradient(rgb(20, 20, 20), rgb(200, 200, 200), rgb(160, 160, 160), rgb(100, 100, 100));
}

#LP-opp {
    border: 2px solid;
}

#fill-opp {
    background-color: rgb(0, 150, 0);
}

#LP-self {
    border: 2px solid;
}

#fill-self {
    background-color: rgb(0, 150, 0);
}

#battle-info {
    border: 5px inset;
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
}

.Playground {
    border: 1em ridge;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1em;
}

#MenuList {
    background: linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
    border: 5px ridge rgb(192, 192, 192);
}

#Tulpa_Dex {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

#Info {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

#Tulpas {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

#Karte {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

#Items {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

.Item_list {
    background-color: rgba(0, 0, 0, 0);
}

.Item_list:not(:disabled):hover {
    cursor: pointer;
}

.Item_list:disabled {
    color: rgb(50, 50, 50);
}

#battle_box {
    border: 3px inset rgb(192, 192, 192);
}

#TulpaPC {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

#TulpaPC_List {
    color: rgb(50, 50, 50);
}

#battle_text {
    color: rgb(50, 50, 50);
}

.LP_Bar {
    border: 3px outset rgb(192, 192, 192);
}

.LP_Fill {
    background-color: rgb(0, 150, 0);
}

#battle_game_menu {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 0.3em ridge;
}

.TrainerDialogBox {
    color: rgb(50, 50, 50);
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 5px ridge rgb(192, 192, 192);
}

#shopMenu {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    color: rgb(50, 50, 50);
    border: 5px ridge rgb(192, 192, 192);
}

#ShopBuyList {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    color: rgb(50, 50, 50);
    border: 5px ridge rgb(192, 192, 192);
}

.number_input {
    background-color: rgba(0, 0, 0, 0);
    border: 3px inset rgb(192, 192, 192);
    color: rgb(50, 50, 50);
}

#ShopSellList {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    color: rgb(50, 50, 50);
    border: 5px ridge rgb(192, 192, 192);
}

#GameOver {
    color: rgb(255, 0, 0);
    text-shadow: 5px 5px 10px rgb(255, 215, 0);
}

#Countdown {
    color: rgb(50, 50, 50);
    text-shadow: 5px 5px 10px rgb(192, 192, 192);
}

#audio-controls {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    border: 3px outset rgb(192, 192, 192);
}

.custom-modal-content {
    background: linear-gradient(rgb(150, 150, 150), rgb(125, 125, 125));
    box-shadow: 0.15em 0.3em 1em rgb(0, 0, 0);
    border: 0.2em ridge;
}

.custom-modal-overlay {
    background: rgba(0, 0, 0, 0.8);
}

#Name-opp {
    color: rgb(192, 192, 192);
}