  
.Mäusschen, .Maus, .Kampfmaus,
.Kaninchen, .Hase, .Kaninchen_des_Todes,
.Streuner, .Wachhund, .Schutzhund,
.Kleiner_Wolf, .Wolf, .Böser_Wolf,
.Zosse, .Treues_Ross,.Streitross {
    background-color: black;
    height: 80px;
    width:80px;
    float: left;
} 
